html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hero-section {
  margin-left: 10vw;
  margin-top: 100px;
}
.up {
  position: relative;
  top: -100px;
}

.down {
  position: relative;
}

.image-container{
/* add logic for mida break points*/
}


.middle-section-container {
  background-color: aqua;
  position: relative;

  height: 700px;
  border-radius: 15px;
}
.upper-middle-section-container {
  display: flex;
}
.lower-middle-section-container {
  position: absolute;
  bottom: 0;
  left: 0;

  border-radius: 15px;
  height: 700px;
}
.dot {
  height: 70px;
  width: 70px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 30px;
}

.test {
  background-color: #f0f0f0;
  border-radius: 20px;
}

.container-test {
  background-color: aqua !important;

  width: 80vw !important;
}
.img {
  border-radius: 40px !important;
  padding: 20px !important;
}
.second-section-card {
  background-color: transparent !important;
  border: 0px !important;
  margin: 0px 100px;
}
.h2-title {
  font-size: 50px !important;
}

.img-card {
  padding: 7px !important;

  width: 60px !important;
position: relative;
top: -50px;
  
  z-index: 10 !important;
  border: 1px solid #9e9ea75e !important;
  border-radius: 10px !important;
  min-width: 10% !important;
  position: absolute !important;
  left: 0px !important;
  right: auto !important;
}

.first-cards {
  border: none !important;

  max-width: 400px !important;
  margin: 20px 0px;
}

.firstCardsRow {
  max-width: 1300px;
}
.firstCardText {
  margin-top: 20px !important;
  font-size: 1.2rem;
  font-weight: 400;
  color: #7b7b7b;
}

.cardBody {
  margin-top: 25px !important;
}

a {
 /* color: #5134fe !important;*/
  font-weight: 500;
  font-size: 1.2rem;
  align-self: flex-end !important;
}
.title {
  margin-top: 200px !important;
  margin-bottom: 100px !important;
}
.innerCard {
  padding: 0px 17vw !important;
  margin-top: 100px;
}
.sectionOneTitle {
  font-size: 3rem !important;
  font-weight: bold !important;
  padding: 0px 10px;
}

.customButton {
  background-color: #5134fe !important;
  border: none !important;
  margin-top: 55px;
  margin-left: 10px;
  border-radius: 10px !important;
}
.firstSectionCards {
  margin-top: 80px !important;
}
.card-body {
  padding: 0px !important;
}
.marginWithPadding {
  position: relative;
  background-color: #f0f0f0;
  padding-bottom: 100px !important;
  border-radius: 25px;
  z-index: 10!important;
}
.marginWithPaddingS2 {
  padding-bottom: 100px !important;
  border-radius: 25px;

}
.marginWithPaddingS3 {
  padding-bottom: 100px !important;
}
.innerCard3 {
  padding: 0px 17vw !important;
  margin-top: 50px;
}
.s2H2 {
  font-size: 2.5rem;
}
.s2h2Span {
  font-size: 11vw;
}
.S2Text {
margin-top: 10vw;
  color: #878787;
}

.vertical-progress {
  rotate: 180deg;
  width: 100px;
  height: 420px;
  margin: 0 10px;
  background-color: #f3f3f3;
  border-radius: 0px 0px 15px 15px;
  position: relative;
  top: 60px;
  overflow: hidden;
}

.vertical-progress-bar {
  position: absolute;
  border-radius: 0px 0px 15px 15px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #007bff;
}

.allProgBars {
  display: flex;
  justify-content: space-around;
}

.custom-progress-bar-1 {
  background-color: #f5dbcc;
}
.custom-progress-bar-2 {
  background-color: #c3ebed;
}
.custom-progress-bar-3 {
  background-color: #5134ff;
}
.custom-progress-bar-4 {
  background-color: #c7c7c7;
}
.allCards {
  margin-top: 200px !important;
}
.test>a.cardLink{
  color: black !important;
}

footer{
  background-color: #151515;
}
li{
  color: white;
  list-style: none;
  padding: 10px;
}
h5{ color: white;}
.firstRowFooter{
 padding: 50px 150px ;
  padding-top: 100px;
}
.footerText {
color:white !important;
}
.lastLineFooter{
  padding: 10px 50px !important;
  padding-bottom: 20px!important;
}
.firstSectionTextRow{
  padding: 50px 10px;

}

.display700{
font-size: 10rem!important;
font-weight: 600!important;

}
.branndsOnBoard{
  font-size: 2.2rem!important;
position: relative;
top: -100px !important;
}
.innerCard{
  padding:0px 8vw !important;


}
.firstSEctionFirstCol{

  position: relative;
  bottom: -80px;
}
.innerCardS1{
  border-radius: 12px;
  background-color: #f9f9f9;
  position: relative;
  padding-bottom: 50px;
  top: 30px;
}
.img-fluid{
padding: 10px 0px!important;
}
.upperSection{
  padding-left: 5vw !important;
}
.card2{
  position: relative;
  left: 20px;
}
.icons{
  position: relative;
  top:80px;
}
.footerLinks{
  width: 100%;
}
@media only screen and (max-width: 1199px) {
  .customButton{
    margin-left: auto;
    margin-right: auto;
  
  }
.s2H2 {
 

  text-align: center;

}

.icons{
  top:0px;
}
.card2{
  left: 0px;
}
}